# Ignore all Airflow‐generated logs
logs/
minio-data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
minio-data/.minio.sys/buckets/.usage-cache.bin/xl.meta
minio-data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
minio-data/.minio.sys/buckets/.usage.json/xl.meta
minio-data/.minio.sys/buckets/bronze/.usage-cache.bin/xl.meta
minio-data/.minio.sys/buckets/bronze/.usage-cache.bin.bkp/xl.meta
minio-data/.minio.sys/buckets/gold/.usage-cache.bin/xl.meta
minio-data/.minio.sys/buckets/gold/.usage-cache.bin.bkp/xl.meta
minio-data/.minio.sys/buckets/landing/.usage-cache.bin/xl.meta
minio-data/.minio.sys/buckets/landing/.usage-cache.bin.bkp/xl.meta
minio-data/.minio.sys/buckets/silver/.usage-cache.bin/xl.meta
minio-data/.minio.sys/buckets/silver/.usage-cache.bin.bkp/xl.meta
minio-data/.minio.sys